<!DOCTYPE html>
<html>
<head>
  <title>Vote Data</title>
  <style>
    table {
      width: 50%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Vote Data</h1>
  <div style="margin:40px">
    <h2>Summary of All Voters:</h2>
    <table>
      <tr>
        <th>Category</th>
        <th>Count</th>
      </tr>
      <tr>
        <td>Total Users On Site</td>
        <td><%= totalUserCount %></td>
      </tr>
      <tr>
        <td>Total People Who Voted</td>
        <td><%= voted2UserCount %></td>
      </tr>
      <tr>
        <td>People Who Voted For Presidential Elections</td>
        <td><%= voted1UserCount %></td>
      </tr>
      <tr>
        <td>People Who Voted For UG Council</td>
        <td><%= ugOrASPUsersVoted2Count %></td>
      </tr>
      <tr>
        <td>People Who Voted For Masters Council</td>
        <td><%= MSCorMAUsersVoted2Count %></td>
      </tr>
      <tr>
        <td>People Who Voted For PhD Council</td>
        <td><%= PhDUsersVoted2Count %></td>
      </tr>
    </table>
    <h2>Summary of Total Votes:</h2>
    <p>Note: 1 user may cast multiple votes in each of the Councils.</p>
    <table>
      <tr>
        <th>Category</th>
        <th>Count</th>
      </tr>
      <tr>
        <td>Number of Votes for UG Council</td>
        <td><%= voteCounts.UG %></td>
      </tr>
      <tr>
        <td>Number of Votes for Masters Council</td>
        <td><%= voteCounts.MASTERS %></td>
      </tr>
      <tr>
        <td>Number of Votes for PHD Council</td>
        <td><%= voteCounts.PHD %></td>
      </tr>
      <tr>
        <td>Number of Votes for President-Vice President</td>
        <td><%= voteCounts.PRESIDENT %></td>
      </tr>
    </table>
  </div>
</body>
</html>
